
@font-face {
	font-family: 'pretendard';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('../font/PretendardVariable.woff2') format('woff2-variations');
}


@font-face {
	font-family:'comma';
	src: url('../font/a고속도로.ttf');
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	font-family:'comma';
	color: #046F61;
}
